div#form {
    display: none;
}

div#form form textarea {
    font-size: 1.5em;
    width: 60%;
    border: 2px #000000 solid;
    height: 5em;
    margin: 1% 0 1% 0;
}

div#form form label#desc-label{
    vertical-align: top;
    margin: 1% 0 0 0;
}

table#table thead tr th:nth-child(2), table#table tbody tr td:nth-child(2) {
    width: 30%;
}

table#table thead tr th:nth-child(3), table#table tbody tr td:nth-child(3) {
    width: 45%;
}