div#form {
    text-align: center;
    display: inline-block;
    width: 60%;
    border: 1px #000000 solid;
    padding: 0 0 2% 0;
    background-color: #FFD100;
}

div#form p:nth-child(1) {
    border-bottom: 1px solid #000000;
    background-color: #FFD100;
    margin: 0;
    padding : 2% 0 2% 0;
    font-size: 1.8em;
}

div#form p:nth-child(2){
    border-bottom: 1px solid #000000;
    padding : 1% 0 0 0;
    background-color: #FFFFFF;
    margin: 0;
    margin: 0 0 2% 0;
}

div#form form label.text-item {
    display: inline-block;
    text-align: left;
    width: 25%;
    font-size: 1.5em;
}

div#form form button {
    width: 25%;
    height: 2em;
    border-radius: 9px;
    background-color: #FFFFFF;
    border : 1px #000000 solid;
    cursor: pointer;
    font-size: 1.4em;
}

div#form form input {
    width: 60%;
    height: 1.4em;
    margin: 1% 0 1% 0;
    border: 1px #000000 solid;
    font-size: 1.3em;
    background-color: #FFFFFF;
}

div#form form input:disabled, div#form form input:read-only {
    cursor: not-allowed;
}

div#form form select {
    width: 61%;
    height: 1.8em;
    margin: 1% 0 1% 0;
    border: 1px #000000 solid;
    font-size: 1.3em;
    background-color: #FFFFFF;
}

div#form form input#id-input {
    width: 10%;
    margin: 1% 50% 1% 0;
}

/* new added  */
div#form form div#image-drop-frame {
    display: inline-block;
    width: 61%;
    margin: 1% 0 1% 0;
    height: 8em;
    text-align: right;
}

div#form form div#image-drop-frame div#image-drop {
    display: inline-block;
    border: 1px dashed #000000;
    width: 100%;
    margin: 1% 9% 1% 0;
    height: 100%;
    text-align: center;
    background-color: #FFFFFF;
}

div#form form div#image-drop-frame div#image-drop img#upload-icon {
    width: 5%;
    display: inline-block;
    margin: 3% 0 0 0;
}

div#form form div#image-drop-frame div#image-drop img#image-preview {
    display: none;
    width: 40%;
    margin: 2.5% 0 0 5%;
}

div#form form div#upload-message {
    display: none;
    margin: 1% 0 0 0;
    padding: 1% 0 0 0;
    width:  61%;
    text-align: left;
}

div#form form div#upload-message button {
    font-size: .8em;
    width: fit-content;
    margin: 0 0 0 3%;
    height: fit-content;
    font-style: italic;
    color: grey;
    border: 1px solid grey;
}

div#form form div#annotate  {
    text-align: right;
}

div#form form div#annotate span  {
    display: inline-block;
    width: 58%;
    margin: 0 9% 0 0;
    text-align: left;
}

div#form form label#image-label {
    vertical-align: top;
    margin: 1% 0 0 0;
}

div#form form label#file-input {
    display: inline-block;
    cursor: pointer;
    width: 30%;
    margin: 0 0 1% 0;
    padding: .5% 1% .5% 1%;
    border-radius: 9px;
    background-color: #FFD100;
    border : 1px #000000 solid;
    cursor: pointer;
    font-size: 1.1em;
}

div#form form label#file-input input {
    display: none;
}

div#form form input#hidden-image-data-url {
    display: inline-block;
    width: 1;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}