body div#header span {
    width: 33%;
    display: inline-grid;
    text-align: center;
}

body div#header span:nth-child(3) button {
    width: fit-content;
    margin: 0 0 0 60%;
}

body div#welcome-msg {
    margin: 5% 0 0 0;
    padding: 2% 0 2% 0;
    text-align: center;
}

div#create-account-form {
    text-align: center;
}

div#create-account-form form label.text-item {
    display: inline-block;
    text-align: left;
    width: 15%;
}

div#create-account-form form select, div#create-account-form form input {
    width: 20%;
}