body {
    max-height: 1000;
    overflow: hidden;
}

div {
    text-align: center;
}

div:nth-child(2) {
    margin: 5em 0 0 0;
}

div#header img {
    width: 8%;
}

div#login-div {
    text-align: center;
    position: relative;
    margin-top: 0;
}

div#login-div div#image-frame {
    width: 430%;
    height: fit-content;
    position: absolute;
    left: -1%;
    text-align: left;
    transition: all 4s;
}

div#login-div img.background-image{
    display: inline-block;
    width: 24%;
    opacity: 80%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div#login-div form {
    position: absolute;
    top: 10em;
    left: 32.5%;
    display: inline-block;
    width: 35%;
    padding: 1em;
    background-color: #FFD100;
    border-radius: 50px;
}

div#login-div form * {
    margin: .6em 0 .6em 0;
}

div#login-div form label {
    display: inline-block;
    width: 30%;
    text-align: left;
    font-size: 1.3em;
}

div#login-div form input {
    display: inline-block;
    width: 50%;
    border: 2px #000000 solid;
    font-size: 1.3em;
}

div#login-div form select {
    display: inline-block;
    width: 51%;
    border: 2px #000000 solid;
    font-size: 1.3em;
}

div#login-div form button {
    width: 25%;
    height: 2.5em;
    border-radius: 9px;
    background-color: #FFD100;
    border: 2px #000000 solid;
    cursor: pointer;
    font-size: 1.4em;
}