div#search-frame{
    display: inline-block;
    text-align: center;
    width: 70%;
    padding: 1% 0 1% 0;
    margin: 0 0 1% 0;
    background-color: grey;
    border-radius: 15px;
    background-color: transparent;
}

div#search-frame input {
    width: 80%;
    font-size: 2em;
    border-radius: 10px;
    background-color: transparent;
    border: none;
}

div#search-frame input:focus {
    outline: none;
}

div#search-frame button {
    background-color: none;
    border: 2px #000000 solid;
    font-size: 2em;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 0 0 2%;
    padding: 0 1% 0 1%;
    background-color: #FFD100;
    color: #000000;
}

table#table tbody tr td:last-child {
    background-color: transparent;
}