table#table thead tr th:nth-child(2), table#table tbody tr td:nth-child(2) {
  width: 30%;
}

table#table thead tr th:nth-child(3), table#table tbody tr td:nth-child(3) {
  width: 45%;
}

div#back-btn-frame {
  display: none;
  margin-top: 15%;
}

div#back-btn-frame button {
  width: 10%;
  height: 2.5em;
  border-radius: 9px;
  background-color: #FFD100;
  border : 2px #000000 solid;
  cursor: pointer;
  font-size: 1.4em;
}