
body div#header-container {
    display: grid;
    /* grid-gap: 10px; */
    grid-template-columns: auto 10% 5%;
    background-color: #2196F3;
}

body div#header-container> span {
    background-color: beige;
}

body div#update-roles-header {
    margin: 5% 0 0 0;
    padding: 2% 0 2% 0;
    text-align: center;
}