body {
    text-align: center;
}

body div#header span {
    width: 32%;
    display: inline-block;
    text-align: right;
}

body div#header span#header-date-time {
    text-align: left;
    font-size: 2em;
    line-height: 2em;
    padding: 0 0 0 1em;
    margin: 1.5% 0 0 0;
    vertical-align: top;
}

body div#header span#logo {
    text-align: center;
}

body div#header span img#header-logo {
    display: inline-block;
    width: 35%;
}

body div#header span#buttons {
    margin: 5% 0 0 0;
    vertical-align: top;
}

body div#header span#buttons button {
    display: inline-block;
    width: 50%;
    height: 2.5em;
    border-radius: 9px;
    background-color: #FFD100;
    border : 2px #000000 solid;
    font-size: 1.1em;
    cursor: pointer;
}

body div#welcome-msg {
    margin: 1% 0 5% 0;
    padding: 1% 0 1% 0;
    text-align: center;
    background-color: #FFD100;
    font-size: 2em;
}

body div#operation-items span.item {
    height: fit-content;
    width: 17%;
    margin: 0 1% 4% 1%;
    display: inline-grid;
    position: relative;

    border: 2px #000000 solid;
    border-radius: 50px;
    cursor: pointer;
}

body div#operation-items span.item img.action-logo{
    margin: 10% 0 10% 27.5%;
    width: 45%;
}

body div#operation-items span.item button.action-button{
    background-color: #FFD100;
    border-radius: 50px;
    width: 80%;
    margin: 0 0 0 10%;
    font-size: 1.2em;

    height: 2.5em;
    position: absolute;
    top : 90%;
    cursor: pointer;
}